* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-size: 16px;
}

:root {
    --border-radius: 25px;
}

.creatives .creatives-card:nth-child(3n) {
    margin-top: -0.75rem;
}

.card-inspiration {
    width: 30%;
    height: 30%;
}

.creatives {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 24px;
}

.btn-primary {
    border-radius: var(--border-radius);
    padding: 11px 23px;
}

.creatives-card {
    padding: 0;
    width: 264px;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.creatives-card_banner {
    height: 64px;
    width: 100%;
    object-fit: cover;
    opacity: 60%;
}

.creatives-card-avatar_conainter {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -32px;
    margin-bottom: 15px;
}

.creatives-card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creatives-card_name {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #1F2937;
    margin-bottom: 3px;
    letter-spacing: -0.2px;
}

.creatives-card_tag {
    color: #6B7280;
    margin-bottom: 15px;
}

.creatives-card_avatar {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 80%;
}

.creatives-card_button {
    border-radius: var(--border-radius);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.16px;
    height: 40px;
    margin-bottom: 24px;
}

.creatives-more{
    padding-top: 42px;
    padding-left: 56px;
}

.creatives-more img {
    display: block;
    margin-bottom: 50px;
}
.creatives-more h4 {
    margin-bottom: 13px;
    font-weight: 900;
    color: #1F2937;
    font-size: 32px;
    letter-spacing: -0.36px;
}


.creatives-more p {
    color: #6B7280;
    font-size: 32px;
    font-size: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 13px;
}

.collection-card-body {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 27px;
}

.collection-card-body span {
    margin: 0;
}

.collection-card {
    background-color: white;
}

.collection-img-main {
    height: 145px;
    width: 100%;
    object-fit: cover;
}

.collection-img-profiles {
    margin-left: -2px;
    
    margin-bottom: 20px;
}

.collection-card-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.2px;
    color: #1F2937;
}

.collection-card-count {
    font-style: italic;
    font-size: 14px;
    letter-spacing: -0.16px;
    color: #6B7280;
}

.collection-img-profile {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 80%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-right: -15px;
}

.splide__arrow--next {
    background-size: 16px 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_178)'%3E%3Cpath d='M9.3 15.1219L7.9 13.7219L12.2 9.42186H0V7.42186H12.2L7.9 3.12186L9.3 1.72186L16 8.42186L9.3 15.1219Z' fill='%239CA3AF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_178'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.421875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #374151;
}

.splide__arrow--prev {
    background-size: 16px 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.7 14.1219L8.1 12.7219L3.8 8.42186H16V6.42186H3.8L8.1 2.12186L6.7 0.721863L0 7.42186L6.7 14.1219Z' fill='%239CA3AF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #374151;
    opacity: 50%;
}

.splide__arrows {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 50px;
}

.splide .splide__arrow {
    font-size: 0;
    position: static;
    top: unset;
    width: 56px;
    height: 56px;
}

.splide__arrow svg {
    display: none;
}

.bg-dark {
    background-color: #1F2937;
}